# Discord Settings
DISCORD_TOKEN=your_discord_token
DISCORD_SERVER_ID=your_server_id
DISCORD_GUILD_CHAT=your_guild_channel_id
DISCORD_OFFICER_CHAT=your_officer_channel_id
DISCORD_DEBUG_CHAT=your_debug_channel_id
DISCORD_WEBHOOK_URL=your_webhook_url

# Minecraft / Hypixel Settings
HYPIXEL_API_KEY=your_developer_api_key